.swiper_button_container{
    display: flex;
    justify-content: end;
    position: relative;
    top: -40px;
}

@media (max-width: 400px) {
    .swiper_button_container{
        margin-top: 60px;
    }
}


.nav_btn{
    width: 45px;
    height: 45px;
    background-color: lightgray;
    text-align: center;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    font-size: larger;
    cursor: pointer;
}
    

.product_other_images {
    height: 125px;
    width: 145px;
    object-fit: cover;
  }